<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
    
    <servlet>
        
        <init-param>
            <param-name>namespace</param-name>
            <param-value>jdbc:mysql</param-value>
        </init-param>
        <!--    servlet-name:定义servlet的名称，当前xml中唯一  -->
        <servlet-name>abc</servlet-name>
        <servlet-class>com.baidu.servletimp.TestServletFirst</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>abc</servlet-name>
        <url-pattern>/testServletFirst</url-pattern>
    </servlet-mapping>
    
</web-app>